<style>
  <%= @page.css %>
</style>

<div class="wrapper">
  <% @page.visuals.each do |visual| %>
    <div class="visual <%= visual.klass %>">
      <h3><%= visual.name %></h3>
      <% visual.datasets.each do |dataset| %>
        <% if dataset.error %>
          <em>Fehler im SQL: <pre><%= dataset.error.html_safe %></pre></em>
        <% else %>
          <%= render "visuals/#{visual.identifier}/frontend", dataset: dataset %>
          <%= visual.description&.html_safe %>
        <% end %>
      <% end %>
      <% if visual.form %>
        <%= visual.form.html_safe %>
      <% end %>
    </div>
  <% end %>
</div>
